<%- include ../partials/header -%>

  <div class="container">
    <div class="container-popup">

      <div class="row edit-row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <%% if(popup) { %>
                <h5 class="popup-text align-middle 
                <%%= popup[0].msgFontSize %> <%%= popup[0].msgColor %> <%%= popup[0].msgBgColor %>">
                  <%%= popup[0].message %>
                </h5>
                <%% } else { %>
                  <h4>No current mesaages..</h4>
                  <%% } %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-4">
              <button type="button" class="btn btn-sm btn-warning edit-button">Edit text</button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-sm btn-success create-button">Create new</button>
            </div>
            <div class="col-4">
              <button>Delete</button>
            </div>
          </div>
        </div>

        <!-- edit area for message-->
        <div class="col-12 edit-area">
          <div class="row ">
            <div class="col-6">
              <p>Edit current message</p>
              <textarea type="text" class="form-control my-2" name="editArea" rows="4"></textarea>
            </div>
            <div class="col-6">
              <button>Font size</button>
              <button>Font color</button>
              <button>Bg color</button>
            </div>
          </div>
        </div>



        <!-- create new area for message -->
        <div class="col-12 create-area">
          <form action="/admin/popup" method="POST" class="create-new-form">
            <input type="hidden" name="_csrf" value="<%%= csrfToken%>">


            <div class="row">
              <!-- main row -->
              <div class="col-12">
                <hr>

                <div class="row">
                  <!-- title -->
                  <div class="col-6">
                    <p class="mb-0">Alert/message header/tittle:</p>
                    <input class="msg-title mb-2" type="text" name="title">
                  </div>
                  <div class="col-6">
                    <select class="msg-font-size form-select form-select-sm" name="msgFontSize"
                      aria-label=".form-select-sm example">
                      <option selected>Font size</option>
                      <option value="fs-1">1</option>
                      <option value="fs-2">2</option>
                      <option value="fs-3">3</option>
                      <option value="fs-4">4</option>
                      <option value="fs-5">5</option>
                    </select>
                    <select class="new msg-color form-select form-select-sm" name="msgColor"
                      aria-label=".form-select-sm example">
                      <option selected>Font color</option>
                      <option value="textDark">Black</option>
                      <option value="textWhite">White</option>
                      <option value="textRed">Red</option>
                      <option value="textBlue">Blue</option>
                      <option value="textGreen">Green</option>
                      <option value="textPurple">Purple</option>
                    </select>
                    <select class="msg-bg-color form-select form-select-sm" name="msgBgColor"
                      aria-label=".form-select-sm example">
                      <option selected>Background color</option>
                      <option value="bgTransparent">Transparent</option>
                      <option value="bgWhite">White</option>
                      <option value="bgDWhite">Darker White</option>
                      <option value="bgLPink">Light pink</option>
                      <option value="bgLPurple">Light purple</option>
                      <option value="bgDPurple">Darker purple</option>
                    </select>
                  </div>
                </div> <!-- title -->

                <hr>

                <div class="row">
                  <!-- message -->
                  <div class="col-6">
                    <p class="mb-0">Create new message:</p>

                    <textarea type="text" class="msg-text form-control" name="message" rows="4"></textarea>
                  </div>

                  <div class="col-6">
                    <select class="msg-font-size form-select form-select-sm" name="msgFontSize"
                      aria-label=".form-select-sm example">
                      <option selected>Font size</option>
                      <option value="fs-1">1</option>
                      <option value="fs-2">2</option>
                      <option value="fs-3">3</option>
                      <option value="fs-4">4</option>
                      <option value="fs-5">5</option>
                    </select>
                    <select class="new msg-color form-select form-select-sm" name="msgColor"
                      aria-label=".form-select-sm example">
                      <option selected>Font color</option>
                      <option value="textDark">Black</option>
                      <option value="textWhite">White</option>
                      <option value="textRed">Red</option>
                      <option value="textBlue">Blue</option>
                      <option value="textGreen">Green</option>
                      <option value="textPurple">Purple</option>
                    </select>
                    <select class="msg-bg-color form-select form-select-sm" name="msgBgColor"
                      aria-label=".form-select-sm example">
                      <option selected>Background color</option>
                      <option value="bgTransparent">Transparent</option>
                      <option value="bgWhite">White</option>
                      <option value="bgDWhite">Darker White</option>
                      <option value="bgLPink">Light pink</option>
                      <option value="bgLPurple">Light purple</option>
                      <option value="bgDPurple">Darker purple</option>
                    </select>
                  </div>
                </div> <!-- message -->

                <hr>

                <div class="row">
                  <!-- submit btn-->
                  <div class="col">
                    <button type="submit" class="btn btn-lg btn-primary my-2">Submit</button>
                  </div>
                </div> <!-- submit btn-->



              </div>

            </div> <!-- main row -->

          </form> <!-- create form -->

        </div> <!-- create area -->
      </div> <!-- edit row -->


      <!-- under buttons -->
      <div class="row">
        <div class="col-4">
          <button>Cancel</button>
        </div>
        <div class="col-4">
          <!-- button to open preview modal window -->
          <button type="button" class="btn btn-sm btn-info btn-service-delete" data-toggle="modal"
            data-target="#alertModal">
            Preview
          </button>
        </div>
        <div class="col-4">
          <button>Confirm</button>
        </div>
      </div>

      <!-- New/Editing message formating preview -->
      <section id="create-new-message">
        <div class="row">
          <div class="col-12">
            <h4 class="new-area-title"></h4>
            <h5 class="new-area"></h5>
          </div>
        </div>
      </section>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <ul>
        <%% popup.forEach(p=> { %>
          <li>
            <h5>
              <%%= p.message %>
            </h5>
          </li>
          <%% }) %>
      </ul>
    </div>
  </div>

  <!-- modal window to preview alert message -->
  <%- include ../../partials/popup-modal -%>


    <!-- go back button -->
    <%- include ../partials/go-back-admin-btn -%>


      <%- include ../partials/footer -%>