<%- include ../partials/header -%>

  <div class="container">
    <div class="container-popup">

      <div class="row edit-row">
        <div class="col-6">
          <h5 class="popup-text align-middle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, error.
          </h5>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <button>Edit Text</button>
            </div>
            <div class="col-4">
              <button>Remove to collection</button>
            </div>
            <div class="col-4">
              <button>Delete</button>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button>Font color</button>
            </div>
            <div class="col-4">
              <button>Font size</button>
            </div>
            <div class="col-4">
              <button>Background color</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <button>Cancel</button>
        </div>
        <div class="col-4">
          <button>Preview</button>
        </div>
        <div class="col-4">
          <button>Confirm</button>
        </div>
      </div>

    </div>
  </div>



  <!-- go back button -->
  <%- include ../partials/go-back-admin-btn -%>


    <%- include ../partials/footer -%>