<%- include ../partials/header -%>


  <div class="container login">

    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-4">

        <h1>Sign In</h1>

        <form class="form-group needs-validation" action="/admin/login" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="<%%= csrfToken%>">
          <div class="my-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="username" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
              Username is required
            </div>
          </div>
          <div class="my-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="password" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
              Pasword is requires
            </div>
          </div>

          <button type="submit" class="btn btn-success btn-block">Sign Up</button>
        </form>


      </div>
      <div class="col-12 text-center">
        <%- include ../partials/go-back-admin-btn -%>
      </div>
    </div>
  </div>



  <%- include ../partials/footer -%>