<section>

  <div id="prices" class="container-fluid">

    <!-- prices buttons -->
    <div class="row d-none d-lg-block">
      <div class="col">
        <h2 class="pl-4 pb-4 pt-5 our-services">Price list</h2>
        <div id="pricesButtons" class="pb-1 pricesButtons">
          <%% prices.forEach(price=> { %>

            <button type="button" class="btn priceBtn">
              <%%= price.serviceTitle %>
            </button>

            <%% }) %>

        </div>
      </div>
    </div>

    <!-- dropdown prices buttons -->
    <div id="drop-prices" class="dropdown d-block d-lg-none">

      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Price list
      </button>


      <div class="prices-menu dropdown-menu pricesButtons" aria-labelledby="dropdownMenuButton">
        <%% prices.forEach( price=> { %>

          <li class="dropdown-item priceBtn">
            <%%= price.serviceTitle %>
          </li>

          <%% }) %>

      </div>
    </div>



    <div class="row px-0">
      <div class="col-md-8 col-lg-6">


        <!-- price block -->
        <%% prices.forEach( price=> { %>
          <div class="pricesTable">
            <h3>
              <%%= price.serviceTitle %>
            </h3>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <%%= price.singleTreatment %> Treatment
                  </th>
                  <%% if(price.multiTreatments) { %>
                  <th scope="col">
                    <%%= price.multiTreatments %> Treatments
                  </th>
                  <%% } %>
                </tr>
              </thead>
              <tbody>

                <%% price.unitPrice.forEach( unit=> { %>
                  <tr>
                    <th scope="row">
                      <%%= unit.unitTitle %>
                    </th>
                    <td> $ <%%= unit.singlePrice %>
                    </td>
                    <%% if(price.multiTreatments) { %>
                    <td> $ <%%= unit.multiPrice %>
                    </td>
                    <%% } %>
                  </tr>
                  <%% }) %>
              </tbody>
            </table>
          </div>

          <%% }) %>

          
      </div>
    </div>

  </div>

</section>