<%% if(!admin) { %>
  <li class="nav-item <%%= typeof page !== undefined && page === 'login' ? 'active' : '' %>">
    <a class="nav-link" href="/admin/login">Login</a>
  </li>
  <%% } else { %>

    <div class="username">
      <li>
        <%%= admin.username %>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/logout">Logut</a>
      </li>
    </div>
    <%% } %>