<!-- button to confirm delete service -->
<button type="button" class="btn btn-sm btn-danger btn-service-delete" data-toggle="modal"
  data-target="#confirmDeleteModal<%%= service._id %>">
  Delete
</button>

<!-- modal window to confirm delete service -->
<div class="modal fade" id="confirmDeleteModal<%%= service._id %>" data-backdrop="static" data-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mr-2" id="staticBackdropLabel">
          Delete service: <%%= service.title %>
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Please confirm deleting current service</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
          Close
        </button>
        <form class="d-inline" action="/admin/services/<%%= service._id %>?_method=DELETE" method="POST">
          <input type="hidden" name="_csrf" value="<%%= csrfToken %>">
          <input type="password" name="permission" placeholder="permission password.." required>
          <button class="btn btn-sm btn-danger">
            Confirm
          </button>
        </form>
      </div>
    </div>
  </div>
</div>