:root {
  --navbarHeight: 5rem;
  --slogan: #5e3b5ed5;
  --white: #f6fafe;
  --purple1: #3a004c;
  --purple2: #5e3b5e;
  --purple3: #422942;
  --purple4: #37243b;
  --gradient1: linear-gradient(to left, #5e3b5e, #5e3b5e96);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: absolute;
  max-width: 100%;
  height: auto;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background: url('../imgs/bg_all.jpg');
  background-size: cover;
  left: 0;
  right: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header============ */

#header {
  position: relative;
  z-index: 5;
  margin: 0;
  padding: 0;
}

#logo {
  width: 10rem;
  height: 5rem;
  top: 0;
  position: absolute;
  position: fixed;
  z-index: 3000;
}

.logo {
  display: block;
  height: 95%;
  width: 100%;
  margin-top: 3%;
  padding: 0;
  background-size: 100% 100%;
  background-image: url('../imgs/logo-test.png');
}

/* navbar */

.toggler-icon {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 1.5rem;
  transform: scale(3.5);
  background-image: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="%2337243b" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" /> </svg>');
}

button.navbar-toggler.collapsed {
  border: none;
  outline: none;
}

.navbar-light .navbar-toggler {
  color: #37243b;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #37243b81;
}

button.navbar-toggler {
  border: none;
  outline: none;
  color: #37243b;
  height: 100%;
}

#mainNavbar {
  height: var(--navbarHeight);
  transition: background 400ms linear;
}

.navbar {
  background: #f6fafe00;
  color: #37243b;
}

.navbar-light .navbar-nav .nav-link {
  color: #37243b;
  font-size: 1.5rem;
  padding-left: 12px;
  padding-right: 12px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #37243b81;
  transition: 200ms;
}

.close-icon {
  display: inline-block;
  margin-right: 1.5rem;
  height: 1rem;
  width: 1rem;
  transform: scale(3.5);
  background-image: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="%2337243b" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /> </svg>');
}

.navbar-toggler.collapsed .close-icon {
  display: none;
}

.navbar-toggler:not(.collapsed) .toggler-icon {
  display: none;
}

.scrolled {
  background: #f6fafef5;
  transition: background 400ms;
}
.navToggled {
  background: #f6fafef5;
  transition: background 400ms linear;
}

/* dropdown */

.dropdown-toggle {
  outline: none;
}

.dropdown-menu {
  background: transparent;
  top: calc(var(--navbarHeight) - 16px);
  border: none;
  width: 20em;
}

.dropdown-item {
  border-bottom: 1px solid transparent;
  color: #37243b;
  font-size: 1.1rem;
  line-height: 1.35rem;
  text-transform: capitalize;
}

.dropdown-item:hover {
  background: #e7a0e70c;
  border-bottom: 1px solid #37243b81;
  color: #37243b81;
  transition: all 300ms;
}

.dropdown-item-active {
  background: none;
  color: #37243b81;
}

.dropdownScrolled {
  position: sticky;
  background: #f6fafef5;
  transition: background 400ms linear;
}


@media (max-width: 767px) {
  .dropdownScrolled {
    background: transparent;
  }

  .navbar-collapse {
    background: #f6fafef5;
  }

  #mainNavbar {
    padding: 0;
    transition: background 400ms linear;
  }
}
