.services-buttons {
  position: absolute;
  top: -20rem;
}

.services-button {
  height: 6.3rem;
  width: 10.3rem;
  text-align: center;
  align-items: center;
  /* margin: 1rem; */
}

.services-button a {
  height: 6rem;
  width: 9rem;
  color: var(--purple1);
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 1px solid var(--purple1); */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  word-break: break-word;
}

.services-button a:hover {
  background: #8c577a;
  background: -webkit-linear-gradient(top left, #8c577a, #d095ce);
  background: -moz-linear-gradient(top left, #8c577a, #d095ce);
  background: linear-gradient(to bottom right, #8c577a, #d095ce);
  -webkit-text-fill-color: var(--white);
  opacity: 0.5;
  transition: 400;
}

.service-button-active {
  background: #8c577a;
  background: -webkit-linear-gradient(top left, #8c577a, #d095ce);
  background: -moz-linear-gradient(top left, #8c577a, #d095ce);
  background: linear-gradient(to bottom right, #68204c, #a578a1);
  -webkit-text-fill-color: #f6fafe;
  transition: 400;
  filter: grayscale(20%);
  cursor: not-allowed;
  pointer-events: none;
}

/* dropdown services buttons */
#dropdown-services-buttons {
  border-bottom: 2px solid var(--white);
  margin-bottom: 1rem;
}

.service-button-toggle {
  color: var(--white);
  background: var(--purple2);
  text-transform: uppercase;
  font-size: 1.4rem;
}

#dropdown-services-buttons .dropdown-menu {
  background: rgb(182, 163, 179);
  border: none;
  width: 23em;
  margin-top: 0.1rem;
}

.dropdown-item {
  border-bottom: 1px solid transparent;
  color: var(--purple3);
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}

.dropdown-item:hover {
  background: none;
  border-bottom: 1px solid var(--purple3);
  color: var(--purple3);
  opacity: 65%;
  transition: border 400ms;
}

.dropdown-service-button-active {
   color: rgb(21, 20, 20);
  transition: 0.3s;
  transform: scale(1.12);
}

@media (max-width: 501px) {
  .btn-row {
  }
}
