.services-buttons {
  position: absolute;
  top: -18rem;
}

.services-button {
  height: 6.3rem;
  width: 10.3rem;
  text-align: center;
  align-items: center;
  /* margin: 1rem; */
}

.services-button a {
  height: 6rem;
  width: 9rem;
  color: var(--purple1);
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  word-break: break-word;
}

.services-button a:hover {
  background: #8c577a;
  background: -webkit-linear-gradient(top left, #8c577a, #d095ce);
  background: -moz-linear-gradient(top left, #8c577a, #d095ce);
  background: linear-gradient(to bottom right, #8c577a, #d095ce);
  -webkit-text-fill-color: var(--white);
  opacity: 0.8;
  transition: 300;
}

.service-button-active {
  background: #8c577a;
  background: -webkit-linear-gradient(top left, #8c577a, #d095ce);
  background: -moz-linear-gradient(top left, #8c577a, #d095ce);
  background: linear-gradient(to bottom right, #8c577a, #d095ce);
  -webkit-text-fill-color: #f6fafe;
  filter: grayscale(20%);
  cursor: not-allowed;
  pointer-events: none;
}

/* dropdown services buttons */
#dropdown-services-buttons {
  position: absolute;
  top: 0;
  width: 100%;
}

.service-button-toggle {
  color: var(--purple1);
  background: -webkit-linear-gradient(top left, #8c577a, #d095ce);
  background: -moz-linear-gradient(top left, #8c577a, #d095ce);
  background: linear-gradient(to bottom right, #8c577a, #d095ce);
  text-transform: uppercase;
  font-size: 1.4rem;
}

.service-button-toggle:hover {
  color: var(--white);
}

#dropdown-services-buttons .dropdown-menu {
  background: linear-gradient(to bottom right, #d095ce ,#8c577a);
  border: none;
  width: 100%;
  margin-top: 0;
}

.dropdown-item {
  border-bottom: 1px solid transparent;
  color: var(--purple1);
  font-size: 1.2rem;
  width: 90%;
  margin-left: 1rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  transform: scale(1.02);
  transition: all 200ms;
}

.dropdown-service-button-active {
  color: var(--white);
  transform: scale(1.02);
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 501px) {
 #dropdown-services-buttons {
  position: absolute;
  top: var(--navbarHeight);
  width: 100%;
}
}
