<div>
  <div id="top-button" title="Go to top" class="top-button btn btn-sm align-items-center justify-content-center"
    role="button">
    <div class="button-body">
      <span class="first"></span>
      <span class="second"></span>
    </div>
  </div>
</div>