<div id="map">
  <iframe width="100%" height="600" frameborder="0"
    src="https://www.google.com/maps/embed/v1/place?key=<%%=process.env.MAP_API%>&q=2303+Coney+Island+Ave,+Brooklyn,+NY,+11223&zoom=16"
    allowfullscreen>
  </iframe>
</div>
