<!-- eslint-disable no-unused-expressions -->

<div class="container-fluid">
  <div class="row">
    <div id="serv-banner" class="col">
      
      <div class="serv-color-overlay"></div>
    </div>
  </div>
<!-- <h1 id="descriptions-serv">Our services</h1> -->
  <!-- Loader for page loading -->
  <div id="service-loading-spinner">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
