@import 'popup.css';
@import 'contacts.css';
@import 'prices.css';
@import 'header.css';

body {
  background: var(--bg-color-main);
  padding-top: 20vh;
}

.admin-header {
  font-size: 3.5rem;
  color: #90a7c1;
  font-weight: 400;
}

h2 {
  font-size: 2.8rem;
  color: var(--white);
  font-weight: 300;
}

/*Popup  */

.popup-buttons .btn {
  width: 8rem;
}

/* About */
.about {
  background: var(--bg-color-secondary);
  margin-left: 0;
  margin-right: 0;
}

.about img {
  height: 20rem;
  width: auto;
}

.about p {
  font-size: 1.2rem;
  text-indent: 1.5rem;
}

/* Gallery */
.main {
  width: 90%;
  height: 20rem;
}

.gallery-images {
  width: 50rem;
  height: 16rem;
  white-space: nowrap;
}

.gallery-image img {
  margin: 0.6rem;
  height: 15rem;
  width: 15rem;
}

.flex {
  display: flex;
  flex-wrap: scroll;
  overflow-x: scroll;
  overflow-y: none;
}
.flex-item {
  flex: 0 0 auto;
}

/* Services */
.services {
  background: var(--bg-color-secondary);
}

.service-admin a {
  max-height: auto;
  width: 100%;
}

.service-admin a:hover {
  text-decoration: none;
}

.img-gradient {
  display: block;
  position: relative;
}

.img-service-admin {
  width: 100%;
  height: auto;
}

.img-gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(53, 12, 80);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 94, 135, 0.44) 23%,
    rgba(207, 131, 240, 0) 100%
  );
}

.img-gradient:hover {
  transform: translate(0.1rem, 0.2rem);
  box-shadow: -1px -1px 5px rgb(52, 38, 58);
  transition: 0.2s;
}

.service-admin h4 {
  z-index: 1;
  text-transform: uppercase;
  position: absolute;
  left: 0.2rem;
  bottom: 0;
  color: #f6fafe;
}

/* Prices */

.prices {
  background-color: rgba(154, 128, 147, 0.413);
  border: 1px solid white;
  padding: 1rem;
  margin-top: 2rem;
}

/* Contacts */

#contacts {
  background: var(--bg-color-secondary);
}

.contact-section {
  color: #555;
  margin-top: 2rem;
}
.location span {
  display: inline-block;
  height: 0.9rem;
  width: 0.9rem;
  transform: scale(2.6);
  margin-right: 1.2rem;
  margin-bottom: 0.3rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill contact-icon" fill="%23555" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" /> </svg>');
}

.telephone span {
  display: inline-block;
  height: 0.9rem;
  width: 0.9rem;
  transform: scale(2.6);
  margin-right: 1.3rem;
  margin-bottom: 0.3rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-telephone-fill contact-icon" fill="%23555" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" /> </svg>');
}

.hours span {
  display: inline-block;
  height: 0.9rem;
  width: 0.9rem;
  transform: scale(2.3);
  margin-right: 1.3rem;
  margin-bottom: 0.3rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-clock contact-icon" fill="%23555" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" /> <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" /> </svg>');
}

label[for='tag-title'],
label[for='tag-description'] {
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
}

input[name='title'],
textarea[name='description'] {
  background: rgb(247, 221, 227);
  font-size: 1.2rem;
}

/* spinner */
#page-loading-spinner {
  position: fixed;
  z-index: 999;
  height: 3em;
  width: 5em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* @MEDIA */
@media (max-width: 790px) {
  .service-admin h4 {
    font-size: 1rem;
  }
}

@media (max-width: 501px) {
  .admin-header {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  .service-admin h4 {
    font-size: 0.8rem;
  }

  .popup-buttons .btn {
    width: 90%;
  }
}

@media (max-width: 376px) {
  h2 {
    font-size: 2.4rem;
  }

  .service-admin h4 {
    font-size: 0.7rem;
  }
}

@media (max-width: 321px) {
  .admin-header {
    font-size: 2.5rem;
  }

  .admin-section {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }

  .service-admin h4 {
    font-size: 0.5rem;
  }

  .contact-data {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
  }
}
