

#map {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

/* #legend {
  position: absolute;
  background-color: var(--white);
  width: 45%;
  margin-left: 10px;
} */

/* .title,
.address {
  padding-left: 1rem;
} */

/* #info-window .header {
  font-size: 1rem;
  font-weight: bold;
} */

/* #info-window p {
  font-size: 1rem;
} */