.btn-row {
  position: absolute;
  top: 6rem;
  z-index: 2;
}

.serv-btn {
  height: 6.3rem;
  width: 10.3rem;
  text-align: center;
  align-items: center;
}

.serv-btn a:hover {
  border: 1px solid #3c2e41;
  /* background: #8c577a;
  background: -webkit-linear-gradient(top left, #8c577a, #d095ce);
  background: -moz-linear-gradient(top left,#8c577a, #d095ce);
  background: linear-gradient(to bottom right, #8c577a, #d095ce);
  -webkit-text-fill-color: #f6fafe;
  transition: 400; */
}

.btn1 {
  height: 6rem;
  width: 9rem;
  color: #3c2e41;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  word-break: break-word;
}

.serv-btn-active {
  border: 1px solid #3c2e41;
  /* background: #8c577a;
  background: -webkit-linear-gradient(top left, #8c577a, #d095ce);
  background: -moz-linear-gradient(top left, #8c577a, #d095ce);
 background: linear-gradient(to bottom right, #68204c, #a578a1);
  -webkit-text-fill-color: #f6fafe;
  transition: 400;
  border: none; */
}
