@import '../prices.css';

.prices {
  background-color: rgba(154, 128, 147, 0.413);
  border: 1px solid white;
  padding: 1rem;
  margin-top: 2rem;
}

#display-prices {
  display: flex;
  align-items: center;
}

.display-prices-checkbox {
  width: 2rem;
  height: 2rem;
}

.prices-display-mode {
  text-transform: uppercase;
  color: var(--purple1);
}

input[type='checkbox']:disabled {
  background: green;
}
