<%- include ./partials/header -%>



  <div class="container-fluid p-0 mb-5">

    <!-- readonly role/mode -->
    <div class="modal fade"
      id="<%%= ((process.env.NODE_ENV !== 'development' ) && !admin.isAdmin) ? 'alertModal' : '' %>"
      data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-light-pink">
          <div class="row modal-header">

            <div class="col-10">
              <h5 class="fs-3 text-white">
                <header>You are on Read-only mode</header>
              </h5>
            </div>
            <div class="col-2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

          </div>

          <div class="modal-body">

            <h5 class="popup-text align-middle">
              Welcome to the Admin page. You can navigate through all pages in read-only mode. But non of the POST, PUT
              or DELETE
              requests will be sent to the server.
            </h5>

          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>

    <!-- Admin page header -->
    <div class="container">
      <h1 class="admin-header">Welcome back. What will we change today?</h1>

      <hr>

      <!-- Popup/Emergency message -->
      <section class="container py-5">
        <h2 class="admin-section my-4">Create new or Edit exist popup message</h2>
        <div class="row">

          <div class="col-md-8 popup-message <%%= popupCurrent && popupCurrent.msgBgColor %>">
            <%% if(popupCurrent) { %>
              <h4
                class="<%%= popupCurrent.titleFontSize %> <%%= popupCurrent.titleColor %> <%%= popupCurrent.titlePosition %>">
                <%%= popupCurrent.title %>
              </h4>
              <h5 class="popup-text align-middle 
                          <%%= popupCurrent.msgFontSize %> <%%= popupCurrent.msgColor %> ">
                <%%= popupCurrent.message %>
              </h5>
              <%% } else { %>
                <h4>No current mesaages..</h4>
                <h4>Create a new message or choose one from the list to show it on the main page.</h4>
                <%% } %>
          </div>

          <div class="col-md-4 popup-buttons">

            <a href="/admin/popups" class="btn btn-sm btn-outline-info d-md-block m-2">View
            </a>

            <%% if(popupCurrent) { %>
              <form class="d-inline" action="/admin/popups?_method=PUT" method="POST">
                <input type="hidden" name="_csrf" value="<%%= csrfToken %>">
                <button class="btn btn-sm btn-outline-secondary d-md-block m-2">Remove</button>
              </form>
              <%% } %>


          </div>
          <!-- popover -->
          <a tabindex="0" class="btn btn-round-advice m-2" role="button" data-toggle="popover" data-trigger="focus"
            title="Popup message"
            data-content="&quot;View&quot;: to go to Popup page. &quot;Remove&quot;: to remove current message from the main page.">?</a>
        </div>

      </section>
    </div>

    <hr>

  </div>

  <!-- About page -->
  <div class="container-fluid p-0 my-5">
    <div class="row about">
      <div class="col-12">
        <h2 class="admin-section my-4">Make changes to About page</h2>
      </div>
      <div class="col-12 col-md-6 text-center">
        <img src="<%%= about.image.url %>" alt="About image.">
      </div>
      <div class="col-12 col-md-6 mt-4 mt-md-0">
        <p>
          <%%= about.about %>
        </p>
      </div>
      <div class="col-12 my-5">
        <a href="/admin/about">
          <button type="button" class="btn btn-secondary btn-block">
            Viev About page
          </button>
        </a>
      </div>

    </div>
  </div>
  </div>


  <!--Gallery  -->
  <section class="container">
    <hr>
    <h2 class="admin-section my-4">Make changes to Gallery</h2>

    <div class="gallary-images flex">

      <%% gallery.forEach(img=> { %>
        <div class="gallery-image flex-item">
          <img src="<%%= img.galleryImage.url %>">
        </div>
        <%% })%>
    </div>

    <a class="btn btn-secondary btn-block mt-4" href="/admin/gallery">Go to Gallery</a>
    <hr class="my-5">
  </section>



  <!-- Services -->
  <section class="container-fluid my-5">

    <div class="row services p-4">
      <div class="col-12">
        <h2 class="admin-section my-4">Chose Service you want to EDIT or DELETE</h2>
      </div>

      <%% services.forEach(service=> { %>
        <div class="col-6 col-md-4 mt-3 service-admin">
          <a href="/admin/services/<%%= service.title %>">
            <div class="img-gradient">
              <img class="img-service-admin" src="<%%= service.imageMain.url %>" alt="<%%= service.title %>" />
              <h4>
                <%%= service.title %>
              </h4>
            </div>
          </a>
        </div>
        <%% }) %>

          <a class="btn btn-block btn-secondary mt-5 mb-4" href="/admin/services/service-new">Add new service</a>

  </section>


  </div>


  <!-- Prices -->
  <section class="container my-5">
    <hr />
    <div class="row">
      <div class="col-12">
        <h2 class="admin-section my-4">EDIT or DELETE services Prices</h2>
      </div>
      <%% prices.forEach(price=> { %>

        <div class="col-md-3 prices">
          <div>
            <h4 class="pb-2">
              <%%= price.serviceTitle %>
            </h4>
            <a class="btn btn-info" href="/admin/prices/<%%= price._id %>">View</a>
            <button type="button" class="btn btn-danger" data-toggle="modal"
              data-target="#confirmDeleteModal<%%= price._id %>">Delete</button>

          </div>
          <!-- modal window to confirm delete price block -->
          <div class="modal fade" id="confirmDeleteModal<%%= price._id %>" data-backdrop="static" data-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    Delete price: <%%= price.serviceTitle %>?
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">Please confirm deleting the price</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <form class="d-inline" action="/admin/prices/<%%= price._id %>?_method=DELETE" method="POST">
                    <input type="hidden" name="_csrf" value="<%%= csrfToken%>">
                    <button class="btn btn-danger">Confirm</button>
                  </form>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%% }) %>
    </div>
    <a class="btn btn-block btn-secondary mt-5 mb-5" href="/admin/prices/price-new">Add new price</a>
    <hr />
  </section>


  <!-- Contacts -->
  <section id="contacts" class="container-fluid my-5">
    <div class="row text-center">
      <div class="col-12 d-flex justify-content-start">
        <h2 class="admin-section my-4">EDIT or DELETE Contact info</h2>
      </div>
      <div class="contact col-md-4 my-3 my-md-0">
        <h3 class="contact-section location">
          <span></span>Find us
          </h2>
          <%% contacts.forEach(contact=> { %>
            <h4 class="contact-data">
              <%%= contact.address1stLine %>
            </h4>
            <h5>
              <%%= contact.address2ndLine %>
            </h5>
            <%% }) %>
      </div>
      <div class="contact col-md-4 my-1 my-md-0">
        <h3 class="contact-section telephone">
          <span></span>Contact us
        </h3>
        <%% contacts.forEach(contact=> { %>
          <h4 class="contact-data">
            <%%= contact.telephone %>
          </h4>
          <h5><em>
              <%%= contact.email %>
            </em></h5>
          <%% }) %>
      </div>
      <div class="contact col-md-4 my-1 my-md-0">
        <h3 class="contact-section hours"><span></span>Our hours
        </h3>
        <%% contacts.forEach(contact=> { %>
          <%% if( contact.day || contact.dayFrom || contact.dayTo || contact.ampmFrom || contact.ampmTo ) { %>

            <h4 class="contact-data">
              <%% if(contact.day) { %>
                <%%= contact.day %>
                  <%% } else { %>
                    <%%= contact.dayFrom %>-<%%= contact.dayTo %>
                        <%% } %> / <%%= contact.hoursFrom %> : <%%= contact.minsFrom %>
                              <%%= contact.ampmFrom %>-<%%= contact.hoursTo%>:<%%= contact.minsTo%>
                                    <%%= contact.ampmTo%>
            </h4>
            <%% } %>
              <%% }) %>
      </div>
      <div class="col-12">
        <a class="btn btn-secondary btn-block my-5" href="/admin/contacts/contacts-edit">View and edit contacts</a>
      </div>

    </div>



  </section>



  <!-- Title, meta tags for main page-->
  <section class="container my-5" id="tags">

    <hr>

    <div class="row">
      <div class="col-12">
        <h2 class="admin-section my-4">Main page Title and Description tags</h2>
      </div>
    </div>

    <%% if( !mainTags ) { %>

      <!-- create tags form -->
      <form action="/admin/main" method="POST" class="mx-auto">
        <input type="hidden" name="_csrf" value="<%%= csrfToken%>">
        <div class="row justify-content-center">

          <div class="col-md-8">
            <input type="text" class="form-control my-2" name="title" placeholder="Title">
          </div>

          <div class="col-md-8">
            <input type="text" class="form-control my-2" name="description" placeholder="Description">
          </div>

        </div>


        <div class="row justify-content-center">
          <div class="col-md-8">
            <button type="submit" id="create-tags" class="btn btn-lg btn-block btn-primary my-2">Create</button>
          </div>
        </div>

        <!-- create loading spinner -->
        <div class="text-center" id="create-tags-spinner">
          <div class="lds-spinner create-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>

      </form>

      <!-- popover -->
      <a tabindex="0" class="btn btn-round-advice m-2" role="button" data-toggle="popover" data-trigger="focus"
        title="Info" data-content="Create title and description Google use to find your page">?</a>


      <%% } else { %>

        <!-- edit tags form -->
        <form action="/admin/main?_method=PUT" method="POST" class="mx-auto">
          <input type="hidden" name="_csrf" value="<%%= csrfToken%>">
          <div class="row justify-content-center">

            <div class="col-md-8">
              <label for="tag-title">Title</label>
              <input type="text" id="tag-title" class="form-control" name="title" value="<%%= mainTags.title %>">

            </div>

            <div class="col-md-8 my-4">
              <label for="tag-description">Description</label>
              <textarea type="text" id="tag-description" class="form-control" rows="5"
                name="description"><%%= mainTags.description %></textarea>

            </div>

          </div>


          <div class="row justify-content-center">
            <div class="col-md-8">
              <button type="submit" id="update-tags" class="btn btn-lg btn-block btn-primary my-2">Update</button>
            </div>
          </div>

          <!-- update loading spinner -->
          <div class="text-center" id="update-tags-spinner">
            <div class="lds-spinner update-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>

        </form>
        <!-- popover -->
        <a tabindex="0" class="btn btn-round-advice m-2" role="button" data-toggle="popover" data-trigger="focus"
          title="Info" data-content="Update title and description Google use to find your page">?</a>
        <%% } %>

          <hr>

  </section>

  <%- include ./partials/footer -%>