<div class="container-fluid p-0 my-5">
  <div class="row about">
    <div class="col-12">
      <h2 class="admin-section my-4">Make changes to About page</h2>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="<%%= about.image.url %>" alt="About image.">
    </div>
    <div class="col-12 col-md-6 mt-4 mt-md-0">
      <p>
        <%%= about.about %>
      </p>
    </div>
    <div class="col-12 my-5">
      <a class="btn btn-secondary btn-block" href="/admin/about">View About page</a>
    </div>

  </div>
</div>