@import 'contacts.css';
@import 'prices.css';
@import 'header.css';

body {
  background: rgb(249, 179, 199);
}

h1 {
  font-size: 4rem;
  color: #f6fafe;
}

.container > h2 {
  color: #130915;
}

h2 {
  color: #555555;
}

/* About */
.about img {
width: 15rem;
height: auto;
}

.about p {
  font-size: 1.2rem;
}



/* Gallery */
.main {
  width: 90%;
  height: 20rem;
}

.gallery-images {
  width: 50rem;
  height: 16rem;
  white-space: nowrap;
}

.gallery-image img {
  margin: .6rem;
  height: 15rem;
  width: 15rem;
}

.flex {
  display: flex;
  flex-wrap: scroll;
  overflow-x: scroll;
  overflow-y: none;
}
.flex-item {
  flex: 0 0 auto;
}

/* Services */
.service-admin a {
  max-height: auto;
  width: 100%;
}

.service-admin a:hover {
  text-decoration: none;
}

.img-gradient {
  display: block;
  position: relative;
}

.img-service-admin {
  width: 100%;
  height: auto;
}

.img-gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(53, 12, 80);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 94, 135, 0.44) 23%,
    rgba(207, 131, 240, 0) 100%
  );
}

.img-gradient:hover {
  transform: translate(0.1rem, 0.2rem);
  box-shadow: -1px -1px 5px rgb(52, 38, 58);
  transition: 0.2s;
}

.service-admin h4 {
  z-index: 1;
  text-transform: uppercase;
  position: absolute;
  left: 0.2rem;
  bottom: 0;
  color: #f6fafe;
}

.prices {
  background-color: rgba(154, 128, 147, 0.413);
  border: 1px solid white;
  padding: 1rem;
  margin-top: 2rem;
}

@media (max-width: 376px) {
  .service-admin h4 {
    font-size: 2.3rem;
  }

}

@media (max-width: 790px) {
  .service-admin h4 {
    font-size: 1rem;
  }
}
