@import '../admin/header.css';
@import '../admin/go-back-admin-btn.css';
@import '../popup-modal.css';


.container-popup {
  margin-top: 7rem;
}

.edit-row {
  background: var(--bg-color-secondary);
  height: 20rem;
}

.edit-area,
.create-area {
  display: none;
}

#create-new-message {
  background: var(--white);
  height: 10rem;
  margin-top: 6rem;
}

.new-area {
  padding: 1rem;
  height: 10rem;
}
