<!-- before/after photo-slider -->
<div class="before-after-block">
  <div class="row align-items-center pb-4 px-0 mx-0">
    <div class="col d-flex justify-content-center">
      <h2>Before vs After</h2>
    </div>
  </div>

  <div class="row px-0 mx-0">
    <%% service.imageBeforeAfter.forEach( img=> { %>
      <div class="col-md-6 my-3 before-after-image">
        <div class="row no-gutters text-center px-0 mx-0">
          <div class="col-6">
            <!-- img before -->
            <img src="<%%= img.imageBefore.url %>" alt="<%%= service.title %> before-after." />
          </div>
          <div class="col-6">
            <!-- img after -->
            <img src="<%%= img.imageAfter.url %>" alt="<%%= service.title %> before-after." />
          </div>


          <button type="button" class="btn btn-sm btn-danger delete-imageBA " data-toggle="modal"
            data-target="#confirmDeleteModal<%%= img._id %>">
            Delete
          </button>

          <!-- modal window to confirm delete before-after image -->
          <div class="modal fade" id="confirmDeleteModal<%%= img._id %>" data-backdrop="static" data-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title mr-2" id="staticBackdropLabel">
                    Delete image:
                  </h5>
                  <img class="imageBA-delete-modal" src="<%%= img.imageBefore.url %>" alt="">
                  <img class="imageBA-delete-modal" src="<%%= img.imageAfter.url %>" alt="">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">Please confirm deleting current image from slider</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <form class="d-inline"
                    action="/admin/services/<%%= service.title %>/imagesb-a/<%%= img._id %>?_method=DELETE&_csrf=<%%= csrfToken %>"
                    method="POST">
                    <button class="btn btn-sm btn-danger">
                      Confirm
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <%% }) %>
  </div>

  <!-- upload form -->
  <form action="/admin/services/<%%= service.title %>/imagesb-a?_csrf=<%%= csrfToken %>" method="POST" class="mx-auto"
    enctype="multipart/form-data">
    <div class="row imageBA-choose-block">
      <div class="col-md-8">
        <label class="label" for="image-before">Add new image BEFORE</label>
        <input type="file" class="form-control-file my-2" name="image-before" id="image-before" accept="image/*" />


        <label class="label" for="image-after">Add new image AFTER</label>
        <input aria-label="[Choose before image]" type="file" class="form-control-file my-2" name="image-after"
          id="image-after" accept="image/*" />
        <!-- if checked, photos will load with coveres eyes -->
        <div class="row mt-5 mb-3">
          <div class="col-3 d-flex justify-content-end">
            <input aria-label="[Choose after image]" class="form-check-input" type="checkbox" id="inlineCheckbox1"
              name="isCoverEyes">
          </div>
          <div class="col-9 pl-0 d-flex justify-content-start">
            <label class="form-check-label" for="inlineCheckbox1">Cover eyes</label>
          </div>
        </div>


      </div>
      <div class="col-md-4">

        <!-- preview -->
        <div class="row no-gutters">
          <div class="col-6">
            <img class="img-before-preview d-inline" alt="" />
          </div>
          <div class="col-6">
            <img class="img-after-preview d-inline" alt="" />
          </div>
        </div>

        <!-- popover -->
        <a tabindex="0" class="btn btn-round-advice m-2" role="button" data-toggle="popover" data-trigger="focus"
          title="Images upload"
          data-content="Choose two images(before & after) to add to the current service page. Optional you can select to cover eyes on photos if possible.">?</a>

        <button id="upload-imagesBA" type="submit" class="btn btn-lg btn-primary my-2">
          Upload new images
        </button>

      </div>
    </div>
  </form>

  <!-- loading spinner -->
  <div id="loading-imagesBA-spinner">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>